/*
 TODO: Не те шрифты стоят. 
*/

.page {
  background-color: #000;
  width: 880px;
  padding: 0;
  margin: 0 auto;
  font-family: 'Inter', 'Roboto', 'Montserrat', sans-serif;
}

@media screen and (max-width: 900px) {
  .page {
    width: 100%;
  }
}

