.profile {
  height: 120px;
  margin-top: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .profile {
    flex-direction: column;
    margin: 42px auto 0;
    height: 286px;
    width: 282px;
  }
}