.edit {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  width: 430px;
}

@media screen and (max-width: 900px) {
  .edit {
    width: 282px;
  }
}