.edit {
  position: fixed;
  z-index: 50;
  top: 195px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  background-color: #fff;
  width: 430px;
  height: 330px;
}

@media screen and (max-width: 900px) {
  .edit {
    top: 123px;
    width: 282px;
    height: 322px;
  }
}