.popup-edit__container {
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  width: 430px;
}

@media screen and (max-width: 900px) {
  .popup-edit__container {
    width: 282px;
  }
}